body{
    background-color: black;
}

.top{
        display: flex;
        width: 100%;
        max-height: 100vh;
        background-position: center;
        background-size:contain;
        background-image: linear-gradient(rgba(7, 7, 7, 0.806),rgba(0, 0, 0, 0.591)), url(/img/about\ bg\ 2.png);
        background-repeat: no-repeat;
        height: 80vh;
        color: white;
    }
   .about{
    margin-left: 20%;
        position: relative;
        left: 70%;
        margin-top: 5%;
        text-transform: uppercase;
        font-weight: bolder;
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
        font-size:50px; 
    }
    @media screen and (min-width:500px) {
        .about{
            position: absolute;
            left: 15%;
            top: 40%;
        }
        
        #fanofan{
            background-color: black;
            color: white;
        }
    }