*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:black;
    --secondary-color:white;
    --font-family: sans-serif,Arial, Helvetica;
}
body{
    background-color:white;
    color: white;
    overflow-x: hidden;
}
.top-header{
  color: white;
  text-align: center;
 left: 30%;
}
#top{
  background-image: linear-gradient(to right, rgba(255, 0, 0),rgb(0, 0, 255),rgb(0, 128, 0));

}
.top-header a{
  color: white;
  cursor: pointer;
  min-width: 100%;
  max-width: 100%;
}
#truck{
  padding: 5px;
}
.navbar-brand{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding-left: 2%;
}
.navbar-toggler-icon{
  color: rgb(14, 14, 14);
  width: 70px;
  height: 30px;
  text-align: center;
  padding: 0;
  border-radius: 10px;
}
.nav-link{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 30px;
  border-radius: 10% 30px;
}
nav ul {
  margin-left: 10%;
}
nav ul li{
  padding-left: 5%;
}
.nav-link:hover{
  background-color: rgb(2, 2, 2);
  color:white;
  font-size: large;
  text-decoration:none;
  border-radius: 10% 30px;
  text-align: center;
  /* width: 110px; */
}
.dropdown-menu{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10% 30px;
  text-transform: capitalize;
  text-align: center;
}
.dropdown.item a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  text-align: center;
  border-radius: 10% 30px;
}
.dropdown.item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    text-align: center;
    border-radius: 10% 30px;
}
.dropdown-item:hover{
  background-color: #ddd;
  border-radius: 10% 30px;
  border-left:2px solid red;
  border-right:2px solid green;
  border-top:2px solid black;
  border-bottom:2px solid rgb(110, 106, 106);
}

.carousel-item{
  height: 500px;
}
.slider-info{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 254, 254);
  background-color: rgba(18, 18, 18, 0.886);
  height: 500px;
  position: relative;
  text-align: center;
}
.slider-info h3{
  animation: 1.5s fadeIn  ease-in;
  padding: 8%;
}
@keyframes fadeIn{
  from{transform: translatex(-350px);}
  to{transform: translatex(0px);}
}
.slider-info h4{
  animation: 1.5s fadeSide  ease-in;
  padding: 8%;
}
@keyframes fadeSide{
  from{transform: translatex(380px);}
  to{transform: translatex(0px);}
}
.slider-info button{
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}
@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 70px, 0);
  }
}



.fast-selling{
  width: 200px;
  height: 200px;
}
.fast-selling:hover{
transform:scale(1.2);
}
#selling{
  width: 310px;
  border: 1px solid black;
  margin: 4px;
}

/* featured exhaust styling starts here */
#featured-exhaust{
  color: black;
  text-align: center;
  padding-bottom: -10px;
  margin-bottom: -10px;
}
#featured-exhaust h3{
  text-transform:uppercase;
}
.scroll-div {
  background-color: rgb(248, 248, 248);
  overflow: auto;
  white-space: nowrap;
}

.scroll-div img{
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  width: 300px;
  height: 300px;
}

.scroll-div h3, p{
padding-left: 1%;
padding-right:1% ;
}

.scroll-div a{
  text-decoration: none;
}
#featured-tablefan{
  color: black;
  text-align: center;
}
#featured-tablefan h3{
  text-transform:uppercase;
}
#scroller-div:hover h3{
  animation: slideIn 1s ease-in-out;
  animation-iteration-count: 1;
}
@keyframes slideIn{
  from{
    opacity: 0;
    transform: scale(1,1);
  }
  to{
    opacity: 1;
    transform:scale(1.3, 1.3);
  }
}

.text-reset{
  text-decoration: none;
}

@media only screen and (min-width:480px){
  .carousel-item img{
    height: 510px;
  }
  #selling{
   margin-left: 20% ;
  }

  .nav-link:hover{
    width: 110px;
  }
  
}
@media screen and (max-width:800px) {

  #text1 h1,h3{
    display: none;
  }

  
 
  
}