*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
 
 background-color: #f4f4f4;
 color: rgb(12, 12, 12);
 line-height: 1.8;
}
a{
    text-decoration: none;
}
#container{
    margin: 30px auto;
    max-width: 500px;
    padding: 20px;
}
.form-wrap{
     background: white;
     padding: 15px 25px;
     color: #333;

}
.form-wrap h1,
.form-wrap p {
   text-align: center;
}
.form-wrap .form-group{
    margin-top:  15px;
}
.form-wrap .form-group label{
 display: block;
 color: #666;
}
.form-wrap .foam-group input{
 width: 100%;
 padding: 10px;
 border: #ddd 1px solid;
 border-radius: 5px;

}
.form-wrap button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #49c1a4;
    color: white;
    cursor: pointer;
}
.form-wrap button:hover{
  background-color: #37a08e;
}
.form-wrap .button-text{
    font-size: 13px;
    margin-top: 20px ;
}


